html{
	height:100%;
}

body {
	font-family: Open Sans, sans-serif;
	background-color: $bg-color;
	height:100%;
}

* {
	box-sizing: border-box;
}

header {
	
}

textarea, input, button { 
	outline: none;
}
section {
	height: 100%;
}

%section--white {
	display: block;
	background-color: white; 
}