html{
	height:100%;
}

body {
	font-family: Open Sans, sans-serif;
	background-color: $bg-color;
	height:100%;
}

* {
	box-sizing: border-box;
}

textarea, input, button { 
	outline: none;
}

.contain-1200 {
	max-width: 1200px;
	margin: 0 auto;
}