//MIXINS
@mixin fontsize($size){
	font-size: $size * 1px;
	font-size: $size * 0.1rem;
}

// EXTENDS
%text--center {
	text-align: center;
}

// Typography

%text--red,
.text--red {
	color: $nvite-red;
}

%text--white,
.text--white {
	color: white;
}

.text--navy,
%text--navy {
	color: $nvite-navy;
}


%text-callout,
.text-callout {
	@extend %text--center;
	font-weight: 500;
	line-height: 1.2em;
	position: relative;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
	@include fontsize(24);
}

a {
	color: $nvite-maroon;
}

p {
	color: $copy-color;
}

h1,
h2 {
	@extend %text--white;
}

small {
	font-size: 80%;
	color: $nvite-gray;
}

.headline {
	margin: 3em 0 1em;
	@extend %text-callout;
}

.sub-head {
	color: #ccc;
	margin: 0 0 4em;
}
