/*******************************************************/
//COLORS
/*******************************************************/

// nvite colors
$nvite-red: #FB0036;
$nvite-pink: #EE1C4D;
$nvite-maroon: #8c2943;
$nvite-gray: #bab9b6;
$nvite-navy: #262d37;
$base-color: #252525;
$copy-color: #666;

// Social Networks
$twitter: #00acee;
$facebook: #3b5998;
$linkedin: #0e76a8;
$email: #73ba37; //green

// Messages
$message-success: #73C05E; //green
$message-err: #E69E16; //orange
$message-generic: #F3E473; //yellow

// Interpersonal Relationships
$relationship-friend: $nvite-red; // red
$relationship-host: #6278ff; // blue
$relationship-you: #8baf4e; // green

// Page Colors
$bg-color: $base-color;



/*******************************************************/
//SIZES
/*******************************************************/
$intro-height: 680px;