.section__social {
	margin-top: $intro-height;
	height: 850px; //TEMP
	background-color: white;
	
	hr {
		opacity: 1;
		border-top: 1px solid $nvite-red;
		border-bottom: 1px solid $nvite-red;
		margin: 1.5em auto;
		width: 70%;
	}

	h1 {
		@extend %text-callout;
		color: $nvite-navy;
	}
	
	h2 {
		@include transition-duration(1s);
		color: $nvite-navy;
		padding-top: 2em;
		opacity: 0;
		
		&.js-fixedPos {
			opacity: 1;
		}
	}
}

.iphone {
	@include transition-duration(1s);
	margin: 0 auto;
	position: absolute;
	top: 400px; 
	left: 0; 
	right: 0;
}

.iphone {
	background-image: image-url('iphone-body.svg');
	width: 280px;
	height: 585px;
	display: block;
	background-repeat: no-repeat;
	@include background-size (100%);
	
	&.js-fixedPos {
		width: 250px;
		top: 870px;
		
		.screen {
			top: 11.25%;
		}
	}
	
	.screen {
		background-image: image-url('screen4.jpg');
		height: 75%;
		position: relative;
		top: 12.5%;
		width: 88%;
		margin: 0 auto;
		background-image: url('../images/screen4.jpg?1390511052');
		@include background-size (100%);
		background-repeat: no-repeat;
	}
}

.text-box {
	margin: 0 auto;
	height: 100px;
	width: 300px;
	display: block; 
	
	p {
		font-weight: 200;
	}
	
	.icon {
		width: 110px;
		height: 80px;
		display: block;
		margin: 0 auto; 
		@include background-size(100%);
		background-repeat: no-repeat;
		background-position: 50%; 
	}

	&:nth-child(1) {
		@include transform( translateX(-400px) translateY(50px));
		.icon {
			background-image: image-url('icon1.svg');
		}
		.line--dotted {
			@include transform(rotate(5deg) translateX(250px) translateY(100px));
			width:250px;
		}
	}
	&:nth-child(2) {
		@include transform(translateX(-400px) translateY(220px));
		.icon {
			width: 65px;
			background-image: image-url('icon2.svg');
		}
		.line--dotted {
			@include transform(rotate(20deg) translateX(230px) translateY(20px));
			width: 350px;
		}
	}
	&:nth-child(3) {
		@include transform(translateX(400px) translateY(-150px));
		.icon {
			background-image: image-url('icon3.svg');
		}
		.line--dotted {
			@include transform(rotate(-40deg) translateX(-380px) translateY(-50px));
			width: 400px;
			
		}
	}
	&:nth-child(4) {
		@include transform(translateX(400px) translateY(15px));
		.icon {
			background-image: image-url('icon4.svg');
		}
		.line--dotted {
			@include transform(rotate(-10deg) translateX(-180px) translateY(60px));
			width: 220px;
		}
	}
}

.line--dotted {
	@include transition-duration(1.5s);
	background-image: image-url('dottedline.svg');
	width: 300px;
	height: 4px;
	display: block;
	opacity: 0;
	
	&.js-fixedPos {
		opacity: 1;
	}
}