.section__social {
	margin-top: $intro-height;
	height: 1000px; //TEMP
	background-color: white;
}

.popouts {
	@include transition-duration(0.8s);
	//display: none;
	opacity: 0;
}

.iphone {
	@include transition-duration(0.8s);
	margin: 30px auto;
	position: absolute;
	top: $intro-height/1.8;
	left: 0; 
	right: 0;
}

.section__social h2 {
	color: $nvite-navy;
	padding-top: 2em;
}

.js-fixedPos {
		@include transform (rotate(-25deg) translateX(-300px));
	    margin-top: 290px;
}

//iPHONE IN CSS WOO

$screen-width: 250px; // <-- this is the only variable, make this ($(window).width()/4)
$screen-height: (71/40)*$screen-width; //71:40 for iPhone5, 3:2 for iPhone4
$phone-gutter: $screen-width/16;
$phone-color: white;
$iphone-color-shadow: darken($phone-color, 10);

.iphone {
	width: $screen-width + $phone-gutter*2;
	z-index: 1;
}

.iphone-body {
	background-color: $phone-color;
	border-radius: $phone-gutter*2;
	height: $screen-height + (1/3)*$screen-height;
	position: absolute;
	width: $screen-width + $phone-gutter*2;
	// @include box-shadow(rgba(0,0,0,0.3) 2px 2px 20px);
}

.screen {
	//background-color: lightblue;
	outline: $phone-gutter/4 solid $iphone-color-shadow;
	height: $screen-height; //71:40 aspect ratio
	position: relative;
	top: $screen-height/6;
	width: $screen-width;
	margin: 0 auto;
	background-image: image-url('screen4.jpg');
}

.home-button {
	border-radius: 50%;
	border: $phone-gutter/7 solid $iphone-color-shadow;
	height: $phone-gutter*3;
	left: $screen-width/2;
	position: absolute;
	top: $screen-height + (1/5)*$screen-height;
	width: $phone-gutter*3;
	z-index: 2;
}

.speaker {
	width: $screen-width/6;
	height: $phone-gutter/3;
	background-color: darken($iphone-color-shadow, 15);
	z-index: 2;
	position: relative;
	margin: 0 auto;
	border-radius: 25%;
	position: relative;
	top: $screen-height*(-8/9);
	margin: 0 auto;
}

//iPAD!

// $ipad-width: 500px; // <-- this is the only variable
// $ipad-height: (4/3)*$ipad-width;
// $ipad-gutter: $ipad-width/16;
// $ipad-color: white;
// $ipad-color-shadow: darken($ipad-color, 10);

// * {
//   box-sizing: border-box;
// }

// body {
//   background: #7fefd5;
// }

// .ipad {
// 	@include transition-duration(1.2s);
//    width: $ipad-width + $ipad-gutter*2;
//    margin: 5% auto;
//    position: absolute;
//    top: 1100px; 
//    left: -50px;
//    z-index: 0;
//    @include rotate(40deg);
   
//    &.js-screenSwitch {
//    		top: 900px;
//    		@include rotate(20deg);
//    }
// }

// .ipad__body {
//   background-color: $ipad-color;
//   border-radius: $ipad-gutter;
//   height: $ipad-height + (1/3)*$ipad-height;
//   position: absolute;
//   width: $ipad-width + $ipad-gutter*2;
//   // @include box-shadow(rgba(0,0,0,0.3) 2px 2px 20px);
// }

// .ipad__screen {
//   // background-color: lightblue;
//   outline: $ipad-gutter/10 solid $ipad-color-shadow;
//   height: $ipad-height; //71:40 aspect ratio
//   position: relative;
//   top: $ipad-height/6;
//   width: $ipad-width;
//   margin: 0 auto;
//   background-image: image-url('ipad-screen1.jpg');
// }

// .ipad__home-button {
//   border-radius: 50%;
//   border: $ipad-gutter/10 solid $ipad-color-shadow;
//   height: $ipad-gutter*1.5;
//   left: $ipad-width/2;
//   position: absolute;
//   top: $ipad-height + (1/4.5)*$ipad-height;
//   width: $ipad-gutter*1.5;
//   z-index: 2;
// }

// .ipad__cam {
//   width: $ipad-gutter/3;
//   height: $ipad-gutter/3;
//   background-color: darken($ipad-color-shadow, 15);
//   z-index: 2;
//   position: relative;
//   margin: 0 auto;
//   border-radius: 50%;
//   position: relative;
//   top: $ipad-height*(-9.3/10);
//   margin: 0 auto;
// }

.text-boxes {
	position: absolute;
	right: 40px;
	// &:nth-child(1) {
	// 	top: 0;
	// }
	// &:nth-child(2) {
	// 	top: 120px;
	// }

}